.player-row {
    margin: 1rem 6rem 0rem 6rem;

    .card {
        border: none;


        img {
            width: 139px;
            height: 130px;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.07);
            }
        }

        .card-body{

            .card-title{
                text-transform: uppercase;
                font-weight: 550;
                margin-bottom: 1rem;

            }

            p{
                font-size: small;
            }
        }

    }
}