.row {
    font-display: white;
}

.footer_about ul li {
    margin-bottom: 10px;
    list-style-type: none;
}

.footer_about ul li a {
    color: #b4b4b4;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.footer_about h5 {
    margin-bottom: 2.5rem;

}

.footer_about ul li h5 a {
    color: white;
}

.background {
    background-color: #222831;
}

.footer_two a {
    color: #00ADB5;
    margin-left: 4rem;
    margin-right: 2rem;
    font-weight: bold;
    font-size: large;
}

